
MC3DView.xcodeproj/project.xcworkspace/contents.xcworkspacedata

MC3DView.xcodeproj/project.xcworkspace/xcuserdata/baglan.xcuserdatad/UserInterfaceState.xcuserstate

MC3DView.xcodeproj/xcuserdata/baglan.xcuserdatad/xcschemes/MC3DView.xcscheme

MC3DView.xcodeproj/xcuserdata/baglan.xcuserdatad/xcschemes/xcschememanagement.plist
